<div class="section section-godlys section-bg-gray">
  <div class="container">
    <h2>Godlys</h2>
    <div class="lista-imgs">
      <div class="img-container building">
        <img src="assets/images/godlys/40042_EternalSpear_.png" alt="">
      </div>
      <div class="img-container active">
        <img src="assets/images/godlys/40347_TyrSword_.png" alt="">
      </div>
      <div class="img-container">
        <img src="assets/images/godlys/40644_GodsGaze_.png" alt="">
      </div>
      <div class="img-container">
        <img src="assets/images/godlys/40645_GoldBranch_.png" alt="">
      </div>
      <div class="img-container">
        <img src="assets/images/godlys/40752_SilverOaKnife_.png" alt="">
      </div>
      <div class="img-container">
        <img src="assets/images/godlys/40932_AllThingsPeace_.png" alt="">
      </div>
      <div class="img-container">
        <img src="assets/images/godlys/41241_WinterCrystal_.png" alt="">
      </div>
      <div class="img-container">
        <img src="assets/images/godlys/41551_ThorHammer_.png" alt="">
      </div>
      <div class="img-container">
        <img src="assets/images/godlys/41855_WarTerminator_.png" alt="">
      </div>
      <div class="img-container">
        <img src="assets/images/godlys/45551_Helm_Of_Sun_L_A.png" alt="">

      </div>
      <div class="img-container">
        <img src="assets/images/godlys/45554_Helm_Of_Moon_L_A.png" alt="">
      </div>
      <div class="img-container active">
        <img src="assets/images/godlys/45557_Helm_Of_Moon_L_A.png" alt="">
      </div>
      <div class="img-container active">
        <img src="assets/images/godlys/47067_WingHelm_Of_Sun_L_A.png" alt="">
      </div>
      <div class="img-container">
        <img src="assets/images/godlys/47070_WingHelm_Of_Moon_L_A.png" alt="">
      </div>
      <div class="img-container active">
        <img src="assets/images/godlys/47073_WingHelm_Of_Stars_L_A.png" alt="">
      </div>
      <div class="img-container">
        <img src="assets/images/godlys/62528_Annihilate_.png" alt="">
      </div>
      <div class="img-container">
        <img src="assets/images/godlys/62803_Guilt_Whip.png" alt="">
      </div>
      <div class="img-container">
        <img src="assets/images/godlys/63103_Guilt_Mus.png" alt="">
      </div>
      <div class="img-container">
        <img src="assets/images/godlys/63402_Guilt_Book.png" alt="">
      </div>
    </div>
  </div>
</div>