<div class="section section-maquinas">
  <div class="container">
    <h2>Máquinas</h2>
    <div class="lista-imgs">
      <div class="img-container building">
        <img src="assets/images/godlys/40042_EternalSpear_.png" alt="">
      </div>
      <div class="img-container building">
        <img src="assets/images/godlys/40042_EternalSpear_.png" alt="">
      </div>
      <div class="img-container building">
        <img src="assets/images/godlys/40042_EternalSpear_.png" alt="">
      </div>
    </div>
  </div>
</div>