<!DOCTYPE html>
<html lang="pt-BR">

{% include head.html %}

<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="#"><img src="{{ site.url }}{{ site.baseurl }}/assets/images/logo-tricks.png"
            alt="Logo da Tricks"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse my-2 my-lg-0" id="navbarNavDropdown">
          <ul class="navbar-nav">

            {% for node in site.navigation_header %}
            {% if page.url == node.url %}
            <li class="nav-item active"><a href="{{ site.url }}{{ site.baseurl }}{{node.url}}"
                class="nav-link">{{node.title}} <span class="sr-only">(current)</a>
            </li>
            {% else %}
            <li class="nav-item"><a class="nav-link"
                href="{{ site.url }}{{ site.baseurl }}{{node.url}}">{{node.title}}</a></li>
            {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>
    </nav>
  </header>
  {{content}}
</body>

</html>